<head>
  <meta charset="UTF-8">
  <title>Full Stack Connect</title>
  <link type="text/css" href="/public/css/jass.css">
  <link type="text/css" href="/public/css/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
       Full Stack Connect
      </h1>
    </header>
      <main class="main-container">
     {{{ body }}}
      </main>
      <div class="tabs-container">
     {{> tabs-partial }}
      </div>
  </div>
  </body>

</html>
