<div class="posts">
  {{#each jobPostings}}
 <div class="jobPosting">
  {{! Styling for jobPostings }}
  <article class="card">
    <div class="card-header">
      <h2>{{jobPostings.title}}</h2>
      <h4>{{jobPostings.User.firstName}}</h4>
      <span>{{format_date jobPostings.date_published}}</span>
    </div>
    <div class="card-body">
      <p>{{jobPostings.description}}</p>
    </div>
  </article>

</div>
  {{/each}}
</div>