<div class="post card">
  <div class="card-header">
    <h2>Create New Job Post</h2>
  </div>
  <form id="new-post-form" class="card-body">

    <label class="form-label" for="post-body">Description</label>
    <textarea name="post-body" class="form-input"></textarea>

    <button type="submit" class="btn" id="create-post-btn">Create</button>
  </form>
</div>

<script src="/js/newjobpost.js"></script>