
  <div class="container">
    <h2>Sign In</h2>
    <form action="/main" method="POST" id="login-form">  <!-- Specify the action and method -->
      <div class="form-group">.
        <input type="email" placeholder="Email" name="email"> <!-- Add the name attribute to the input fields -->
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" name="password"> <!-- Add the name attribute to the input fields -->
      </div>
      <div class="form-group">
        <button type="submit">Sign In</button> <!-- Specify the button type as "submit" -->
      </div>
    </form>
  </div>

