h1 {
    align-items: center;
    color: white;
    background-color: blue;
    font-size: 1rem bold;
    padding: 1rem;
  }
  
  .main-container {
    max-width: 50%;
    align-items: center;
    justify-content: right;
    color: black;
    background-color: rgb(14, 139, 139);
    border: 4px color white;
    font-size: larger;
  }
  
  .tabs-container {
    max-width: 25%;
    align-items: center;
    justify-content: left;
    font-size: larger;
    color: black;
    border: 4px color white;
    background-color: rgb(14, 139, 139);
  }