<div {{{ tabs-partial }}}>
<section class="nav">
    <ol>
        <li>
            <a href="/app/controllers/HomeController.js">
             <header>Home</header>
            </a>
        </li>
        <li>
            <a href="/app/controllers/ProjectController.js">
             <header>Projects</header>
            </a>
        </li>
        <li>
            <a href="/app/controllers/JobPostingController.js">
             <header>Job Postings</header>
            </a>
        </li>
        {{#if loggedIn}}
        <li>
            <button id="logout" class="btn">Logout</button>
        </li>
        {{else}}
        <li>
            <a href="/login">Login</a>
        </li>
        {{/if}}
    </ol>

    {{#if loggedIn}}
    <script src="/public/js/"></script>
</section>
</div>