{{!-- tabs-partial.handlebars --}}

<section class="nav">
  <ol>
    <li>
      <a href="/users">
        <header>Home</header>
      </a>
    </li>
    <li>
      <a href="/api/projects">
        <header>Projects</header>
      </a>
    </li>
    <li>
      <a href="/jobpostings">
        <header>Job Postings</header>
      </a>
    </li>
    {{#if loggedIn}}
      <li>
        <a href="/logout">Logout</a>
      </li>
    {{else}}
      <li>
        <a href="/">Logout</a>
      </li>
    {{/if}}
  </ol>

  {{#if loggedIn}}
    <script src="/public/js/"></script>
  {{/if}}
</section>
