{{#each jobPostings}}
  <div class="job-post">
    <h2>{{this.dataValues.position}}</h2>
    <h3>{{this.dataValues.organization}}</h3>
    <p>{{this.dataValues.description}}</p>
    <p>Published on: {{this.dataValues.date_published}}</p>
  </div>
{{/each}}
