 <div class="tabs-container">
    <h2>
      Choose Your Location
    </h2>
  </div>
    <div>
      <ol>
        <li>
          <a href="/models/JobPostings/">Job Postings</a>
        </li>
        <li>
          <a href="/models/Projects/">Projects</a>
        </li>
        <li>
          <a href="/models/TextPosts/">Posts</a>
        </li>
        <li>
          <a href="/models/users/">Users</a>
        </li>
      </ol>
    </div>
  </div>
</div>