<head>
  <meta charset="UTF-8">
  <title>Full Stack Coonect</title>
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
       Full Stack Connect
      </h1>
    </header>

    {{> tabs-partial}}

      <main class="main-container">

     {{{ all-posts }}}
      </main>
      <div class="tabs-container">
     {{{ tabs-partial }}}
      </div>
  </div>
  </body>

</html>
