<head>
  <meta charset="UTF-8">
  <title>Full Stack Coonect</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
       Full Stack Connect
      </h1>
    </header>

    {{tabs-partial}}

      <main class="main-container">

     {{{ body }}}
      </main>
      <div class="tabs-container">

      </div>
  </div>
  </body>

</html>
